<!-- <mat-card id="message">
    <mat-card-title>
        <h1>Page Not Found</h1>
        <h2>Invalid URL !!</h2>
    </mat-card-title>
    <mat-card-subtitle>
        <a routerLink="/">Back to Home</a>
    </mat-card-subtitle>
</mat-card> -->

<mat-card id="message">
    <mat-card-title>
        <h2>Oops!!! Page Not Found</h2>
        <div class="imgContainer" >
            <img src="../../assets/dog.jpg" style="height: 400px;">
        </div>
    </mat-card-title>
    <mat-card-subtitle style="text-align: center">
        <a routerLink="/">Back to Home</a>
    </mat-card-subtitle>
</mat-card>